footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f7f7f7;
  font-family: 'Wix Madefor Display', sans-serif;
}

.social {
  height: 20px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.social i {
  color: #fc2535;
  opacity: 0.8;
  text-decoration: none;
}

.social i:hover {
  color: #ff0013;
  opacity: 1;
}

.copyright {
  font-size: 18px;
  color: #040403;
  text-decoration: none;
  opacity: 0.7;
}

@media (max-width: 850px) {
  footer {
    display: none;
  }
}
