footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f5f5f5;
}

.social {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.social i {
  color: #e7c73c;
  text-decoration: none;
}

.social i:hover {
  color: #e7c73c;
  opacity: 0.8;
}

.copyright {
  font-size: 18px;
  color: #040403;
  text-decoration: none;
}

@media (max-width: 850px) {
  footer {
    display: none;
  }
}
