<footer class="text-center text-white" style="background-color: #3f362f">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="social mb-4">
      <a class="fa fa-facebook" href="#!" role="button"></a>

      <a class="fa fa-twitter" href="#!" role="button"></a>

      <a class="fa fa-instagram" href="#" role="button"></a>

      <a class="fa fa-google" href="#!" role="button"></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="copyright">Bushongo © 2023: All Rights Reserved</a>
  </div>
  <!-- Copyright -->
</footer>
