<footer class="text-center text-white" style="background-color: #f1f1f1">
  <div class="container p-4 pb-0">
    <section class="social mb-4">
      <!--      <a href="#!" role="button"><i class="fa-brands fa-meta"></i></a>-->

      <!--      <a href="#!" role="button"><i class="fa-brands fa-twitter"></i></a>-->

      <!--      <a href="#" role="button"><i class="fa-brands fa-instagram"></i></a>-->

      <!--      <a href="#!" role="button"><i class="fa-brands fa-google"></i></a>-->
      <img class="logo" src="../../assets/images/ari-logo-icon.png" alt="Company Logo"
           style="width: 50px; margin-right: -30px">
      <p style="font-size:16px; padding-top:20px; color: rgba(95,95,95,1)">We are a web hosting provider on a mission to
        bring success to everyone who goes online. </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(45,45,45,0.1);">
    <a class="copyright">Bushongo © 2023: All Rights Reserved</a>
  </div>
</footer>
