<div *ngIf="!isUserAuthenticated()">
  <app-login></app-login>
</div>
<div *ngIf="isUserAuthenticated()">
  <div class="main">
    <div class="container">

      <div class="form-add">
        <form [formGroup]="newRowForm" (ngSubmit)="addRow()" class="form-inline mb-3">
          <div class="form-group">
            <input formControlName="name" class="form-control mr-2" placeholder="mydomain.xyz"/>
          </div>
          <button type="submit" class="add-domain"> &#43;</button>
        </form>
        <div *ngIf="newRowForm.get('name')?.invalid && newRowForm.get('name')?.touched" class="text-danger">
          Name is required.
        </div>
      </div>

      <div *ngIf="tableData.length > 0" class="ng-content table-container">
        <table class="table" style="border-radius: 30px">
          <thead>
          <tr>
            <th>Domain</th>
            <th class="action-col">Action</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of tableData; let i = index">
            <tr *ngIf="selectedRow && selectedRow.id === item.id">
              <td>
                <input [(ngModel)]="selectedRow.name" class="form-control"/>
              </td>
            </tr>
            <tr *ngIf="!selectedRow || selectedRow.id !== item.id">
              <td>{{ item.name }}</td>
              <td class="buttons">
                <button class="btn btn-danger" (click)="deleteRow(item)"><i class="fa fa-trash-o"
                                                                            aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary" [routerLink]="['/users', '{{item.id}}']"><i class="fa fa-wrench"
                                                                                      aria-hidden="true"></i>
                </button>
                <button [routerLink]="['/details', item.id]" class="btn btn-primary"><i class="fa fa-share"
                                                                                        aria-hidden="true"></i></button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div *ngIf="tableData.length === 0" class="text-center">
      </div>
    </div>
  </div>
</div>
