<main>
  <header class="navbar" style="background-color: #f7f7f7;">
    <div class="navbar flex">
      <a [routerLinkActiveOptions]="{exact: true}" class="link main-logo" routerLink="/home"
         routerLinkActive="active"><img class="logo" src="../../assets/images/air-logo.png" alt="Company Logo">
      </a>
    </div>
    <nav class="nav">
      <div class="cloud">
      <ul class="flex">
        <li>
          <a (click)="logout()" [routerLinkActiveOptions]="{exact: true}" class="link" routerLink="/home"
             routerLinkActive="active">home</a>
        </li>
        <li>
          <h3>|</h3>
        </li>
        <li>
          <a (click)="logout()" [routerLinkActiveOptions]="{exact: true}" class="link" routerLink="/table"
             routerLinkActive="active">UrDomains</a>
        </li>
        <li>
          <h3>|</h3>
        </li>
        <li>
          <a (click)="logout()" [routerLinkActiveOptions]="{exact: true}" class="link" routerLink="/about"
             routerLinkActive="active">about</a>
        </li>
      </ul>
      </div>
    </nav>
    <div class="navbar flex">
      <div class="cloud user-exit">
      <a (click)="logout()" [routerLinkActiveOptions]="{exact: true}" routerLink="/profile" class="icon"
         routerLinkActive="active"><img class="user" src="../../assets/images/user.png" alt="Company Logo">
      </a>
        <h3>|</h3>
      <a (click)="logout()" [routerLinkActiveOptions]="{exact: true}" routerLink="/sign-in" class="icon"
         routerLinkActive="active"><img class="exit" src="../../assets/images/image-removebg-preview.png" alt="Company Logo">
      </a>
      </div>
    </div>
  </header>
</main>

