*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Wix Madefor Display', sans-serif;
}

img,
svg {
  display: inline-block;
  max-width: 100%;
}


main {
  max-width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

header {
  padding: 0 5rem 0 5rem;
  align-items: center;
  height: 90px;
}

.navbar {
  justify-content: space-between;
}

.logo {
  width: 5em;
}

.icon {
}

.user,
.exit {
  width: 2em;
  margin: 0 1em;
}

.user {
  background: rgba(252, 37, 53, 0.6);
  border-radius: 20px;
}
.user:hover,
.exit:hover{
  opacity: 0.8;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cloud {;
  background: #ffffff;
  padding: 0.1em 3em;
  border-radius: 50px;
  margin-right: -3.5em;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
  transition: all 0.25s ease-out;
}

.cloud:hover {
  box-shadow: 0 3px 10px 1px rgba(0,0,0,0.35);
  transition: all 0.25s ease-out;
}

.user-exit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
  width: auto;
  padding: initial;
}

.user-exit:hover {
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
}

.nav ul {
  list-style: none;
  justify-content: space-around;
  display: flex;
  align-items: center;
  gap: 4rem;
}

h3 {
  font-size: 28px;
  opacity: 0.3;
  padding: 0 0 0.2em 0;
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: #040403;
  font-weight: 600;
  position: relative;
}

.link:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fc2535;
}

.main-logo:hover {
  opacity: 1;
}

.link:active {
  opacity: 0.4;
  color: #fc2535;
}
