<div class="main">
  <h1><span class="name">Air hostd</span> cares about your domains</h1>
  <div class="h-domain-finder-header__tlds-container">
    <ul class="h-tlds">
      <li class="h-tlds__item">
        <span class="h-tlds__extension">.com</span>
        <span class="h-tlds__price">$12.99</span>
      </li>
      <li class="h-tlds__item">
        <span class="h-tlds__extension">.net</span>
        <span class="h-tlds__price">$12.99</span>
      </li>
      <li class="h-tlds__item">
        <span class="h-tlds__extension">.org</span>
        <span class="h-tlds__price">$11.99</span>
      </li>
      <li class="h-tlds__item">
        <span class="h-tlds__extension">.shop</span>
        <span class="h-tlds__price">$7.99</span>
      </li>
      <li class="h-tlds__item">
        <span class="h-tlds__extension">.pro</span>
        <span class="h-tlds__price">$6.99</span>
      </li>
      <li class="h-tlds__item">
        <span class="h-tlds__extension">.xyz</span>
        <span class="h-tlds__price">$3.99</span>
      </li>
      <!-- Add more list items for more pricing options -->
    </ul>
  </div>
  <p>Free WHOIS privacy protection is included with every eligible domain registration.</p>
</div>
