<div class="container">
  <div class="card">
    <div class="profile">
      <div class="image">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
      <div class="profile-details">
        <form>
          <div class="names">
            <input type="text" [(ngModel)]="user.firstName"
                   class="form-control firstname" id="userFirstName"
                   placeholder="John..." value="{{user.firstName}}" [ngModelOptions]="{standalone:true}">
            <input type="text" [(ngModel)]="user.lastName" class="form-control lastname"
                   id="userLastName" placeholder="Doe..." value="{{user.lastName}}"
                   [ngModelOptions]="{standalone:true}">
          </div>
          <input type="text" [(ngModel)]="user.address" class="form-control"
                 id="userAddress" placeholder="New York City..." value="{{user.address}}"
                 [ngModelOptions]="{standalone:true}">
        </form>
        <p class="role">User</p>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <h1>
      About me
      <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
    </h1>
    <h5 class="profile-name">
      {{user.firstName}} {{user.lastName}}
    </h5>
    <h5>
      {{user.address}}
    </h5>
    <button type="submit" (click)="update(user)" class="edit-btn">Edit profile</button>
  </div>
</div>
