<div *ngIf="!isUserAuthenticated()">
  <app-login></app-login>
</div>
<div *ngIf="isUserAuthenticated()">
  <div>
    <div class="body">
      <div class="label">
        <h5 class="profile-name">
          {{user.firstName}} {{user.lastName}}
        </h5>
      </div>
      <div class="container">
        <div class="card">
          <div class="profile">
            <div class="image">
              <img src="../../assets/images/control-07-walk.webp" alt="">
            </div>
            <div class="profile-details">
              <form [formGroup]="infoForm" autocomplete="off" novalidate>
                <div class="names">
                  <input type="text" [(ngModel)]="user.firstName"
                         class="form-control firstname" id="userFirstName"
                         placeholder="firstname" value="{{user.firstName}}" [ngModelOptions]="{standalone:true}">
                  <input type="text" [(ngModel)]="user.lastName" class="form-control lastname"
                         id="userLastName" placeholder="surname" value="{{user.lastName}}"
                         [ngModelOptions]="{standalone:true}">
                </div>
                <input type="text" [(ngModel)]="user.username" class="form-control"
                       disabled aria-describedby="emailHelp"
                       id="userUsername" placeholder="username" value="{{user.username}}"
                       [ngModelOptions]="{standalone:true}">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="div-btn">
        <button type="submit" (click)="update(user)" class="edit-btn">Edit profile</button>
      </div>
    </div>
  </div>
</div>
