* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  padding: 7rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
}

.label h5 {
  font-size: 32px;
  font-weight: 600;
  padding-left: 10px;
  color: #5e5dfd;
  max-width: 400px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
  /*margin: 0 auto;*/
  margin-bottom: 1rem;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }

.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
  text-align: center;
}

.image {
}

.image img {
  width: 220px;
  color: #040403;
}

.profile-details form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profile-details form input {
  text-align: center;
  border: none;
  padding: 5px 0;
  width: 150px;
}

.lastname,
.firstname {
  font-size: 20px;
  font-weight: 600;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.profile-name {
  font-size: 32px;
  font-weight: 600;
}

.profile-location {
  color: #888888;
  font-size: 16px;
}

.profile-bio {
  font-size: 14px;
  line-height: 1.5;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

.div-btn {
  margin-bottom: 7.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 11rem;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  width: 400px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fc2535;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  /*border: none;*/
  cursor: pointer;
  transition: 0.3s ease-out;
}

.edit-btn:hover {
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  color: #ffffff;
}

.edit-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 995px) {
  .body {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .div-btn {
    margin-bottom: 20rem;
  }

}
