<div class="container">
  <header class="header">
    <section class="header-main">
      <div class="header-info">
        <div class="info community">
          <i class="fa fa-server" aria-hidden="true" style="font-size: 60px; color: #5e5dfd"></i>
          <span>1.4k+</span>
          <p>Hosts Formed</p>
        </div>

        <div class="info messages">
          <i class="fa fa-users" aria-hidden="true" style="font-size: 60px; color: #fe3c69"></i>
          <span>2.7m+</span>
          <p>Satisfied Users</p>
        </div>
      </div>
    </section>
  </header>

  <main class="main">
    <section class="cards-main">
      <div class="card-main">
        <div class="card-main-content">
          <h2>Grow Together</h2>
          <p>
            Generate meaningful discussions with your audience and build a
            strong, loyal community. Think of the insightful conversations
            you miss out on with a feedback form.
          </p>
        </div>
        <img
          src="../../assets/images/control-47-achievement.webp"
          alt="Grow Together Illustration" style="border-radius: 30px;"
        />
      </div>

      <div class="card-main">
        <div class="card-main-content">
          <h2>Flowing Conversations</h2>
          <p>
            You wouldn't paginate a conversation in real life, so why do it
            online? Our threads have just-in-time loading for a more natural
            flow.
          </p>
        </div>
        <img
          src="../../assets/images/control-29-swing.webp"
          alt="Flowing Conversation"
        />
      </div>

      <div class="card-main">
        <div class="card-main-content">
          <h2>Your Users</h2>
          <p>
            It takes no time at all to integrate Huddle with your app's
            authentication solution. This means, once signed in to your app,
            your users can start chatting immediately.
          </p>
        </div>
        <img
          src="../../assets/images/control-39-wall-tasks.webp"
          alt="Your Users Illustration"
        />
      </div>
    </section>
  </main>
</div>
