<div class="container">
  <header class="header">
    <section class="header-main">
      <div class="header-info">
        <div class="info community">
          <div style="display: flex; flex-direction: row; align-items: center">
            <i class="fa fa-server" aria-hidden="true" style="font-size: 60px; color: #5e5dfd; padding: 0 5px"></i>
            <span>124k+</span>
          </div>
          <p style="font-size: 20px; font-weight: 600; padding-left: 15px; margin-top: -20px">Hosts formed</p>
        </div>

        <div class="info messages">
          <div style="display: flex; flex-direction: row; align-items: center">
          <i class="fa fa-users" aria-hidden="true" style="font-size: 60px; color: #fe3c69; padding: 0 5px"></i>
          <span>1.2m+</span>
          </div>
          <p style="font-size: 20px; font-weight: 600; padding-left: 15px; margin-top: -20px">Satisfied users</p>
        </div>
      </div>
    </section>
  </header>

  <main class="main">
    <section class="cards-main">
      <div class="card-main">
        <div class="card-main-content">
          <h2>Unleash the Power of Connection</h2>
          <p>
            Unlock the true potential of your online presence by hosting a dynamic web service that fosters meaningful discussions and cultivates a strong, loyal community.
          </p>
        </div>
        <img
          src="../../assets/images/control-47-achievement.webp"
          alt="Grow Together Illustration" style="border-radius: 30px;"
        />
      </div>

      <div class="card-main">
        <div class="card-main-content">
          <h2>Seamless Web Chats</h2>
          <p>
            Why interrupt the natural rhythm of a conversation with unnecessary page breaks? With our hosting web service, chats flow effortlessly, just like real-life discussions
          </p>
        </div>
        <img
          src="../../assets/images/control-29-swing.webp"
          alt="Flowing Conversation"
        />
      </div>

      <div class="card-main">
        <div class="card-main-content">
          <h2>Efficiency in Action</h2>
          <p>
            Save valuable time and resources by leveraging the speed and efficiency of UrDomains. Our web service effortlessly syncs with your app's authentication solution, eliminating the need for extensive development or coding efforts.
          </p>
        </div>
        <img
          src="../../assets/images/control-39-wall-tasks.webp"
          alt="Your Users Illustration"
        />
      </div>
    </section>
  </main>
</div>
