<div *ngIf="!isUserAuthenticated()">
  <app-login></app-login>
</div>
<div *ngIf="isUserAuthenticated()">
  <div class="main">
    <!--  <div class="up">-->
    <!--        <button  (click)="navigateUp()" [disabled]="currentPath.length === 0"><<<</button>-->
    <!--  </div>-->
    <div class="file-browser">
      <div class="path">
        <button (click)="navigateUp()" [disabled]="currentPath.length === 0"><i class="fa fa-arrow-left"
                                                                                aria-hidden="true"></i>
        </button>
        <span class="current-path" >
        /{{ currentPath.join('/') }}/
      </span>
      </div>
      <div class="add-form">
        <div class="add-folder">
          <input type="text" [(ngModel)]="newFolderName" placeholder="New Folder Name">
          <button (click)="addFolder()">&#43;</button>
        </div>
        <div class="add-form-browse">
          <input class="input-file" type="file" (change)="onFileUpload($event)"/>
        </div>
      </div>
      <table>
        <tbody>
        <ng-container *ngFor="let file of currentFolder?.children">
          <tr>
            <td class="folders-files">
              <span [class]="getFileIconClass(file)" (click)="navigateToFolder(file)"></span>
              <input *ngIf="file.isRenaming" type="text" [(ngModel)]="newName"
                     (blur)="finishRenaming(file)" (keyup.enter)="finishRenaming(file)">
              <span *ngIf="!file.isRenaming" (click)="navigateToFolder(file)">{{ file.name }}</span>
            </td>
            <td class="actions">
              <button class="download" *ngIf="file.type === 'file'" (click)="downloadFile(file)"><i class="fa fa-download"
                                                                                                    aria-hidden="true"></i></button>
              <button class="delete" (click)="deleteFile(file)"><i class="fa fa-trash-can"
                                                                   aria-hidden="true"></i></button>
              <!--            <button (click)="startRenaming(file)"><i class="fa fa-pencil-square-o"-->
              <!--                                                      aria-hidden="true"></i></button>-->
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
```
