

.file-explorer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 57vh;
  margin-bottom: 5.5rem;
  margin-top: 2rem;
}

table {
  /*margin-top: 20px;*/
  z-index: 3;
  width: 400px;

  overflow: hidden;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.6);
  text-align: center;
}

tr:nth-child(even) {background-color: #f8f8f8;}

.table {
  width: 800px;
}
/* Table Head Styling */

table {
  overflow: hidden;
  border-radius: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.6);
  margin-bottom: 0;
}

.table thead th{
  background-color: #f7f7f7;
  color: #040403;
  text-transform: uppercase;
}

thead th {
  width: 25%;
}

tr:nth-child(even) {background-color: #f8f8f8;}


/* Table Body Styling */
.table tbody td {
  align-content: center;
  padding: 15px;
  border-bottom: none;
}

/* Selected Row Styling */
.table tbody tr.selected-row {
  background-color: #f9f9f9;
}

/* Input Field Styling */
.table input {
  width: 100%;
  padding: 5px;
}

.table-content {
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.inner {
  width: 100%;
}

.open-dir td .inner {
  z-index: 2;
  overflow: hidden;
  background: rgba(252, 37, 53, 0.09);
  /*box-shadow: none;*/
  top: 0;
  margin-top: -0.9rem;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.2);
}

.open-dir td .inner tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.6);
}


/* Button Styling */
.table button,
.table a.btn {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
}

.table .btn {
  border: none;
  background-color: transparent;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.6);
}

.table button.btn-secondary,
.table button.btn-success,
.table button.btn-info,
.table button.btn-danger,
.table button.btn-primary
{
  background-color: #f7f7f7;
  color: #040403;
  transition: background-color 0.3s ease;
}

.table button.btn-danger:hover {
  background-color: rgba(252, 37, 53, 0.4);
}

.table button.btn-primary:hover,
.table button.btn-secondary:hover,
.table button.btn-info:hover,
.table button.btn-success:hover
{
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 8);
  background-color: #91acff;
}

/* Button Margins */
.table button + button,
.table a.btn + button {
  margin-left: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
}

.add-file {
  font-size: 18px;
  color: #949494;
  font-weight: bold;
  background-color: rgba(4, 4, 3, 0.1);
  width: 715px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: -0.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.2);

}

.add-file:hover {
  height: 50px;
  padding-top: 0.5rem;
  background-color: rgba(145, 172, 255, 0.7);
  color: #ffffff;
}


.makedir-btn {
  z-index: 1;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(4, 4, 3, 0.2);
  width: 800px;
  height: 70px;
  margin-bottom: -40px;
  border: none;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.6);
  padding-bottom: 2.2rem;
  transition: all 0.3s ease;
}

.makedir-btn:hover {
  background: rgba(252, 37, 53, 0.9);
  margin-bottom: -30px;
  padding-bottom: 1.8rem;
}
