.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 57vh;
  margin-bottom: 3rem;
  margin-top: 2.5rem;
  font-size: 20px;
}

.file-browser {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: #f7f7f7;
  width: 1200px;
  border: solid .05rem rgba(82, 82, 82, 0.2);
  border-radius: 30px;
  overflow: initial;
  z-index: 2;
  box-shadow: 0 0 7px hsla(0, 0%, 50%, 0.8);

}

.folder-icon::before {
  content: '📁';
  margin-right: 5px;
  font-size: 24px;
}

.file-icon::before {
  content: '📄';
  margin-right: 5px;
  font-size: 24px;
}

.add-form {
  width: 1199px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: none;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.add-folder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  height: 50px;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.6);
}

.add-folder input {
  height: 35px;
  width: 250px;
  border: none;
  border-radius: 30px;
  padding-left: 1rem;
  color: #040403;
  background: #ffffff;
  box-shadow: 0 0 3px hsla(0, 0%, 50%, 0.5);

}

.add-folder button {
  margin-left: -2rem;
  color: #ffffff;
  background: #6766fd;
  border: none;
  border-radius: 30px;
  height: 35px;
  width: 35px;
  transition: all 0.3s ease;
  box-shadow: 0 0 2px hsla(0, 0%, 50%, 0.5);
}

.add-folder button:hover {
  background: #767cfc;
  box-shadow: 0 0 3px hsla(0, 0%, 50%, 0.6);
}

.add-form-browse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input-file {
  width: 80%;
  padding-right: 1rem;
}

input[type=file]::file-selector-button {
  width: 50%;
  height: 35px;
  border: none;
  border-radius: 30px;
  padding-left: 1rem;
  color: #ffffff;
  background: #f8505d;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.5);
  transition: all 0.3s ease;
}

input[type=file]::file-selector-button:hover {
  background: #767cfc;
  box-shadow: 0 0 3px hsla(0, 0%, 50%, 0.7);

}

.path {
  border-bottom: solid 1px #eeeeee;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #eeeeee;
  width: 1199px;
  padding: 0.7rem 1rem 0.3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.path button {
  border: none;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  width: 40px;
  background: #ee585e;
  color: #eeeeee;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.6);
}

.path button:hover {
  background: #fd7c85;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.9);
}

.current-path {
  font-size: 22px;
  font-weight: bold;
  color: #252525;
  padding-right: 1rem;
}

table {
  width: 1199px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  text-align: justify;
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

.folders-files span:hover{
  cursor: pointer;

}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.actions button {
  margin: 0 0.5rem;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  color: #f7f7f7;
  background: #bbbbbb;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.5);
  transition: all 0.3s ease;
}

.actions .download:hover {
  background: #34c759;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.7);
}

.actions .delete:hover {
  background: #fc2535;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.7);
}


/* Table Body Styling */
table tbody td {
  align-content: center;
  padding: .6rem 1.5rem;
  border-bottom: none;
}

/* Selected Row Styling */
table tbody tr.selected-row {
  background-color: #f9f9f9;
}

.input-browser {
  border: solid 1px #040403;
}

.up {
  z-index: 1;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(4, 4, 3, 0.2);
  width: 600px;
  height: 70px;
  margin-bottom: -40px;
  border: none;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 5px hsla(0, 0%, 50%, 0.6);
  padding-bottom: 2.2rem;
  transition: all 0.3s ease;
}

/*.up:hover {*/
/*  background: rgba(252, 37, 53, 0.9);*/
/*  margin-bottom: -30px;*/
/*  padding-bottom: 1.8rem;*/
/*}*/
